.form-box{
    /* border:1px solid #000; */
    width:max-content;
    margin:auto;
}
h1{
    text-align: center;
}
form{
    display:grid;
    border:2px solid #000;
    width:max-content;
    padding:20px;
    row-gap: 10px;
}
input{
    width:500px;
    padding: 10px;
}
.error{
    color:red;
}
.php-input{
    position: absolute;
    top: 0px;
    left: 36px;
}

button.submit {
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
.success{
    color:green;
}
